target/
!.mvn/wrapper/maven-wrapper.jar
*.class

### Log files ###
*.log

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
!/.mvn/wrapper/maven-wrapper.jar

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Operating System Files ###
.DS_Store
Thumbs.db
